@use gettext::Catalog;
@use gettext_macros::i18n;

@(catalog: &Catalog)

<aside class="menu">
  <p class="menu-label">
    <a class="fa fa-chevron-left" href="/">@i18n!(catalog, "Go back")</a>
  </p>
  <p class="menu-label">
    <span class="fa fa-gears">@i18n!(catalog, "Settings")</span>
  </p>
  <ul class="menu-list">
    <li><a class="fa fa-user" href="/settings/edit_profile">@i18n!(catalog, "Edit Profile")</a></li>
    <li><a class="fa fa-sliders" href="/settings/preferences">@i18n!(catalog, "Preferences")</a></li>
    <li><a class="fa fa-volume-off" href="/settings/muted_keywords">@i18n!(catalog, "Muted Keywords")</a></li>
    <li><a class="fa fa-volume-off" href="/settings/muted_users">@i18n!(catalog, "Muted Users")</a></li>
    <li><a class="fa fa-bell" href="/settings/notifications">@i18n!(catalog, "Notifications")</a></li>
    <li><a class="fa fa-lok" href="/settings/security">@i18n!(catalog, "Security")</a></li>
    <li><a class="fa fa-cloud-upload" href="/settings/import">@i18n!(catalog, "Data Import")</a></li>
    <li><a class="fa fa-cloud-download" href="/settings/export">@i18n!(catalog, "Data Export")</a></li>
    <li><a class="fa fa-list" href="/settings/authorized_apps">@i18n!(catalog, "Authorized Apps")</a></li>
    <li><a class="fa fa-users" href="/settings/authorized_followers">@i18n!(catalog, "Authorized Followers")</a></li>
  </ul>
  <p class="menu-label">
    <a class="fa fa-user-plus" href="/settings/invite_people">@i18n!(catalog, "Invite People")</a>
  </p>
  <p class="menu-label">
    <a class="fa fa-logout" href="/logout">@i18n!(catalog, "Logout")</a>
  </p>
</aside>

