@(reply_post: &ReplyPost)
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png" alt="@reply_post.username">
    </p>
  </figure>
  <form method="POST" action="/posts/create">
    @if let Some(ref alert) = reply_post.alert {
      <div class="alert">@:alert(alert)</div>
    }
    <input type="hidden" name="csrf_token" value="@reply_post.csrf">
    @:input_textarea(&reply_post.source)
    @:input_select(&reply_post.visibility)
    @:input_text(&reply_post.name)
    <button>@i18n!(&reply_post.catalog, "Submit")</button>
  </form>
</article>
