@use crate::{Alert, AlertKind, templates::elements::icon};

@(alert: &Alert)

<div class="aardwolf-alert aardwolf-alert-@match alert.kind {
    AlertKind::Info => "info",
    AlertKind::Warning => "warning",
    AlertKind::Error => "error",
    AlertKind::Success => "success",
}">

    <div class="aardwolf-alert-meta">
        @:icon(match alert.kind {
            AlertKind::Info => "info-circle",
            AlertKind::Warning => "exclamation-triangle",
            AlertKind::Error => "exclamation-circle",
            AlertKind::Success => "check-circle",
        })
    </div>

    <div class="aardwolf-alert-message">
        @alert.message
    </div>
</div>

