@use crate::{InputCheckbox, templates::elements::icon};

@(checkbox: &InputCheckbox)

<div class="aardwolf-input-wrapper">
    <label for="@checkbox.name">
        @if let Some(icon) = &checkbox.icon {
            @:icon(icon)
        }
        @checkbox.label
    </label>
    <div class="aardwolf-input aardwolf-checkbox-input">
        @if input.checked {
            <input type="checkbox" name="@input.name" value="true" checked />
        } else {
            <input type="checkbox" name="@input.name" value="true" />
        }
    </div>
    <div class="aardwolf-input-meta">
        @if let Some(ref error) = input.error {
            <span class="aardwolf-input-error">@error</span>
        }
    </div>
</div>

