@use crate::elements::NotificationDropdown;
@use gettext_macros::i18n;

@(notifications: &NotificationDropdown)

<!-- Notifications Dropdown -->
<div class="navbar-item has-dropdown is-hoverable">
	<a class="navbar-link">
		@i18n!(&notifications.catalog, "Notifications")
	</a>
	<div class="navbar-dropdown">
		{# Iterate over the notifications and render each one #}
		{@for notification in notifications.notifications}
			<div class="box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p>
								<strong>{@notification.from_username}</strong> {@notification.from_display_name}
							</p>
							<p class="action">
								{@notification.action}
							</p>
							<hr />
							<p class="notification-date">
								<time datetime="{@notification.datetime}">
									{@notification.datetime}
								</time>
							</p>
						</div>
					</div>
				</article>
			</div>
		{/@}
	</div>
</div>

