@use gettext_macros::i18n;
@use crate::elements::NotificationContent;

@(notification_content: &NotificationContent)

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure>
        <img src="../web/images/default_avatar.png" alt="{{ notification_content.author_name }}" aria-hidden="true">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ notification_content.author_name }}</strong>
          <small>@{{ notification_content.author_handle }}</small>
          <br />
          {{ i18n!(notification_content.catalog, notification_content.message) }}
          <br />
          <small><time datetime="{{ notification_content.timestamp }}">{{ notification_content.timestamp }}</time></small>
        </p>
      </div>
    </div>
  </article>
</div>

