#-
# GitHub Action for Docker Builds
# Default script added 2023-06-02
#
name: 'Docker Image CI'

on:
  pull_request:
    types: 
    - opened
    - reopened
    branches:
      - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file docker/Dockerfile --tag my-image-name:$(date +%s)
